body {
  margin: 0;

  font-family: sans-serif;

  background: cornsilk;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.figure {
  margin: 16px 0;
}

.article {
  max-width: 680px;
  margin: 0 auto;
  padding: 24px;
}

.article__heading {
  margin-bottom: 1.5rem;
}

.article__heading--verified {
  color: palevioletred;
}

.article__lead {
  font-family: serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.figure__image {
  margin: 0;
}

.figure__caption {
  margin-top: 8px;

  font-style: italic;
  text-align: center;
}